$fontFamily: 'Roboto', sans-serif;

$grey: #97a4b5;
$inputBorderColor: #97a4b5;
$btnLightBorderColor: #97a4b5;
$iconDefaultColor: #97a4b5;

$activeBackroundColor: #1592ff;
$activeInputBorderColor: #1592ff;
$hyperlinkColor: #1592ff;
$primaryButtonColor: #1592ff;
$primaryColor: #1592ff;
$primaryBackgroundColor: #f3f9ff;
$gridBorderColor: #d7e8f9;
$headerHeight: 69px;
$marginTopDivider: 32px;

$collapsedNavigationWidth: 88px;
$expandedNavigationWidth: 312px;

$anchorFontColor: #6a7e99;
$formControlLabelColor: #6a7e99;
$btnLightColor: #6a7e99;

$primaryFontColor: #193b68;
$gridItemColor: #193b68;

$wrapperBoxShadow: 0px 3px 6px rgba(21, 146, 255, 0.16);

$smallDeviceWidth: 576px;
$mediumDeviceWidth: 768px;
$largeDeviceWidth: 992px;
$extraLargeDeviceWidth: 1200px;
